fastapi
uvicorn[standard]
python-multipart
sqlalchemy
alembic
asyncpg
motor
pydantic
pydantic-settings
requests
httpx
pandas
numpy
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
scikit-learn
spacy
